<div id="login-register">
  <div class="ca-col-6">
    <div>
      <img src="assets/logo.png">
      <p class="ca_textoIntro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae laoreet nulla,
         at pulvinar libero. Ut ut lacus vel libero semper congue vel id diam. Fusce sit amet fermentum lacus,
         ut suscipit dui. In hac habitasse platea dictumst. Fusce pellentesque felis arcu, at cursus dui ultrices et.
         Suspendisse eu arcu enim.</p>

        <div>
          <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
            <mat-form-field>
              <input matInput type="text" placeholder="Correo electronico" placeholder= "Correo electrónico" #emailInput="ngModel" name="login_email" ngModel required>
              <mat-error *ngIf="emailInput.invalid"> Ingresar un formato de correo válido. </mat-error> <!-- Mensajes de error -->
            </mat-form-field>

            <mat-form-field>
              <input matInput type="password" placeholder="Contraseña" placeholder= "Contraseña" #passwordInput="ngModel" name="login_password" ngModel required autocomplete="on">
              <mat-error *ngIf="passwordInput.invalid"> Ingresar una contraseña válida. </mat-error> <!-- Mensajes de error -->
            </mat-form-field>

            <button
              mat-flat-button
              type="submit" class="btn_login"> Ingresar</button>
            </form>
        </div>

        <div class="nav_login-register">
          <ul>
            <li>
              <a routerLink="/registrarse">Registrarse</a>
            </li>
            <li>
              <a routerLink="/">FAQ´S</a>
            </li>
          </ul>
        </div>
    </div>
  </div>

  <div class="ca-col-4 ca_contenedorSlider">
    <div class="ca_slider">
      <figure></figure>
      <figure></figure>
      <figure></figure>
      <figure></figure>
      <figure></figure>
    </div>
  </div>
</div>
