<!-- <mat-card>
  <form (submit)="onSignup(singupForm)" #singupForm="ngForm">
    <mat-card>
      <mat-form-field>
        <input matInput type="text" placeholder="Nombre" #nombreInput="ngModel" name="nombre" ngModel required>
        <mat-error *ngIf="nombreInput.invalid"> Ingresar un formato de correo válido. </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Apellidos" #apellidosInput="ngModel" name="apellidos" ngModel required>
        <mat-error *ngIf="apellidosInput.invalid"> Ingresar un formato de correo válido. </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="tezt" placeholder="Cédula" #cedulaInput="ngModel" name="cedula" ngModel required>
        <mat-error *ngIf="cedulaInput.invalid"> Ingresar un formato de correo válido. </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Nombre" placeholder= "Correo electrónico" #emailInput="ngModel" name="correo" ngModel required email>
        <mat-error *ngIf="emailInput.invalid"> Ingresar un formato de correo válido. </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" placeholder= "Contraseña" #passwordInput="ngModel" name="contrasena" ngModel required>
        <mat-error *ngIf="passwordInput.invalid"> Ingresar una contraseña válida. </mat-error>
      </mat-form-field>
      <button
      mat-flat-button
      color="primary"
      type="submit"> Ingresar</button>
    </mat-card>
  </form>
</mat-card> -->
